body,
div,
h1,
form,
fieldset,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body {
    background-image: url("creepyCakeGirl.gif");
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 50px;
}

p {
    font-family: 'Roboto Slab', serif;
}

.nav {
    text-align: center;
    position: fixed;
    background-image: linear-gradient(to right, #E74C3C, #F39C12, #F1C40F, #2ECC71, #3498DB, #9B59B6, indigo);
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 5px #555;
}

.nav h1 {
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 20px #1BA1E2;
}


.birthdayForm {
    color: white;
    padding-top: 15vh;
    text-align: center;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.8);

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    background-color: white;
}

input {
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 2px #111;
    color: green;
    padding: 10px 50px;
    margin: 20px;
}

input:hover {
    border-radius: 25px;
    background-color: #888;
    color: green;
}

textarea {
    text-align: center;
    border-radius: 25px;
    background-color: #333;
    color: green;
    padding: 20px 20px;
    margin: 10px;
    width: 300px;
    height: 53px;
    resize: none;
    overflow: hidden
}
